<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Default" connectionString="Data Source.\UserLoginData.db;version=3" providerName ="System.Data.SqlClient "/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v5.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>